
/*************************************************
/* Common HTML style tags                       
/************************************************/
   
body {
    background-color: #EBEBEB;
	position: relative;
}

body.grayer {
    background-color: #DFDFDF;
}

/* ============ gray button styles ============ */

button > span {position: relative}

a.gray_button, a.yellow_button {
	text-decoration: none;
	color: black;
}

button.gray, a.gray_button{
	padding: 10px 0 10px 14px;
	background: url(../img/gray_btn_l.png) no-repeat scroll left center;
	border: none;
	outline: none;
}

button.gray span, a.gray_button span{
	background: url(../img/gray_btn_r.png) no-repeat scroll right center;
	padding: 10px 14px 10px 0;
}

button.gray:active, a.gray_button:active , a.gray_button.active{
	background: url(../img/gray_btn_pressed_l.png) no-repeat left center;
}

button.gray:active span, a.gray_button:active span, a.gray_button.active span{
	background: url(../img/gray_btn_pressed_r.png) no-repeat right center;
}

/* ============ yellow button styles ============ */

button.yellow, a.yellow_button{
	padding: 10px 0 10px 14px;
	background: url(../img/yellow_btn_l.png) no-repeat left center;
	border: none;
	outline: none;
}

button.yellow span, a.yellow_button span{
	background: url(../img/yellow_btn_r.png) no-repeat right center;
	padding: 10px 14px 10px 0;
}

button.yellow:active, a.yellow_button:active, a.yellow_button.active {
	background: url(../img/yellow_btn_pressed_l.png) no-repeat left center;
}

button.yellow:active span, a.yellow_button:active span, a.yellow_button.active span{
	background: url(../img/yellow_btn_pressed_r.png) no-repeat right center;
}

/*************************************************
/* Form styles                       
/************************************************/

label {
	display: inline-block;
}

input[type=radio], input[type=checkbox] {
    display: none; 
}

input[type=checkbox] + label{
	cursor: pointer;
}

input[type=checkbox] + label {
	display: inline-block;
	padding-left: 24px;
	height: 17px;
	background: url(../img/checkbox.png) no-repeat left center;
}

input[type=checkbox]:checked + label, input[type=checkbox] + label.checked {
	background: url(../img/checkbox_pressed.png) no-repeat left center;
}

.big_radio label {
	padding: 6px 0px 6px 14px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}

.big_radio label  span{
	padding: 6px 14px 6px 0px;
}

.big_radio input[type=radio]:checked + label {
	background: url(../img/big_radio_l.png) no-repeat left center;
}

.big_radio input[type=radio]:checked + label span{
	background: url(../img/big_radio_r.png) no-repeat right center;
}

.medium_radio label {
	padding: 0px 0px 0px 9px;
	cursor: pointer;
	font-size: 14px;
	font-weight: normal;
}

.medium_radio label  span{
	display: block;
	height: 25px;
	line-height: 25px;
	padding-right: 9px;
}

.medium_radio input[type=radio]:checked + label  {
	background: url(../img/medium_radio_l.png) no-repeat left center;
}

.medium_radio input[type=radio]:checked + label span {
	background: url(../img/medium_radio_r.png) no-repeat right center;
}

.circle_radio label{
	cursor: pointer
}

.circle_radio label span{
	text-align: center;
	display: inline-block;
	width: 33px;
	height: 26px;
	padding-top: 8px;
	background: url(../img/circle_radio.png) no-repeat center center;
	font-size: 12px;
	font-weight: bold;
}

.circle_radio input[type=radio]:checked + label span{
	background: url(../img/circle_radio_pressed.png) no-repeat center center;
}

/*************************************************
/* End Form styles
/************************************************/



/*************************************************
/* Header styles                       
/************************************************/

.header_wrapper {
	position: fixed;
	height: 173px;
	background: url(../img/head_bg.png) repeat-x;
	left: 0;
	right: 0;
	z-index: 900;
}

.header_wrapper.main_page {
	position: relative;
}

header {
	width: 1000px;
	margin: 0 auto 0 auto;
	font-family: "Arial", Helvetica, sans-serif;
	color: white;
}

header a{
	font-family: "Arial", Helvetica, sans-serif;
	color: white;
}

.main_logo {
	float: left;
	width: 265px;
	height: 132px;
	padding-top: 15px;
	padding-left: 19px;
}

.main_logo a {
	padding: 0;
	margin: 0;
}

.header_caption {
	float: left;
	font-style: italic;
}

.header_caption h2{
	font-weight: normal;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.header_right {
	float: right;
	font-size: 14px;
	width: 700px;
	padding-top: 33px;
}

.header_contact_info {
	font-style: italic;
	float: right;
	width: 210px;
}

.header_contact_info  .address, .header_contact_info  .email{
	padding-left: 32px;
}

.header_contact_info  .address{
	background: url(../img/head_location.png) no-repeat left 4px;
	padding-bottom: 10px;
}

.header_contact_info  .email{
	margin-top: 6px;
	background: url(../img/head_email.png) no-repeat left 3px;
}


.header_phones {
	float: right;
	width: 96px;
	padding-left: 25px;
	background: url(../img/head_phone.png) no-repeat left 4px;
}

.header_phones p {
	padding: 0;
	margin: 0;
}


/* ====================== navlinks ====================== */

nav {
	float: right;
	display: table;
}

nav ul {
	display: table;
	margin: 0;
	padding: 9px 0 0 0;
}

nav ul > li {
	float: left;
	padding: 14px 0 14px 0;
}

nav a {
	padding: 14px;
	text-decoration: none;
	font-weight: bold;
}

nav a.current {
	padding: 14px 0 14px 14px;
	color: black;
	background: url(../img/nav_bg_left.png) no-repeat left 6px;
}

nav a.current span{
	padding: 14px 14px 14px 0;
	background: url(../img/nav_bg_right.png) no-repeat right 6px;
}

/*************************************************
/* End of Header styles                       
/************************************************/

/*************************************************
/* Filter styles                       
/************************************************/

.filter_wrapper {
	position: fixed;
	width: 1000px;
	height: 100%;
	left: 0;
	right: 0;
	margin: 0 auto 0 auto;
	z-index: 100;
	padding-top: 161px;
}

.filter_wrapper.main_page {
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	padding-top: 0;
}

.filter_shadow {
	position: relative;
	width: 310px;
	float: left;
	height: 100%;
	padding-left: 5px;
	background: url(../img/filter_shadow.png) no-repeat left 6px;
	z-index: 400;
}

.filter_wrapper.main_page .filter_shadow {
	background: url(../img/filter_shadow.png) no-repeat left 170px;
}

.filter_wrapper.main_page form{
	padding-top: 163px;
}

aside.filter {
	font-family: "Arial", Helvetica, sans-serif;
	background-color: #EBEBEB;
	width: 302px;
	height: 100%;
	border-left: #dfdfdf solid 1px;
	border-right: #dfdfdf solid 1px;
}


.filter .property_type {
	padding-top: 28px;
	padding-left: 27px;
}

.filter .property_type label{
	margin-right: 29px;
}

.filter .filter_details {
	padding-left: 37px;
	font-size: 14px;
}


.filter .filter_details  ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.filter .filter_details h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 15px 0 15px 0;
}

.filter .river_side label{
	margin-right: 9px;
}

.filter .river_side{
	padding-bottom: 10px;	
}

.rooms_count {
	padding-bottom: 20px;
}

.filter .is_new, .filter .is_commercial {
	font-weight: bold;
}

.price-range  input[type="text"]{
	width: 70px !important;
	margin: 0 6px;
}

.filter .price-range{
	padding-bottom: 16px;
}

.filter .currency  span{
	padding-left: 20px;
	padding-right: 34px;
	margin-right: 20px;	
}

.filter .search_by_id  input[type="text"]{
	width: 220px;
}

.filter .search_by_id {
	padding-bottom: 25px;
}

.filter .submit_form {
	text-align: center;
}

.filter .submit_form a span, .filter .submit_form button span{
	padding: 10px 58px 10px 45px;
}

/*************************************************
/* End of Filter styles                       
/************************************************/


/*************************************************
/* Main content styles
/************************************************/

.slider_wrapper {
	margin-top: -12px;
}

#slider .viewport { float: left; overflow: hidden; position: relative; }

#slider .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider .overview li{ float: left; margin: 0 0 0 0; padding: 0;}
#slider .disable { visibility: hidden; }
#slider .pager {
	position: absolute;
	top: 24px;
	right: -80px;
	float: right;
	overflow:hidden; list-style: none;
	margin: 0; 
	padding: 0;
	z-index: 700;
}

#slider .pager li{
	margin-bottom: 12px;
}

#slider .pager li a {
	color: transparent;
	font-size: 0;
	line-height: 0;
	display: block;
	width: 16px;
	height: 17px;
	background: url(../img/checkbox.png)no-repeat center center;
}

#slider .pager li a.active {
	background: url(../img/checkbox_pressed.png)no-repeat center center;
}

.slider_info_wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	width: 1000px;
	margin: 0 auto;
}

.slider_info {
	position: relative;
	margin-left: 680px;
	width: 320px;
	height: 360px;
	z-index: 700;
}

.slider_info .slide_details {
	width: 320px;
	height: 360px;
	background: url(../img/slide_details_bg.png) no-repeat top left;
	z-index: 700;
}

.slider_info .slide_details .go_to_details{
	text-align: center;
	position: absolute;
	width: 320px;
	bottom: 0;
	padding-bottom: 35px;
	padding-top: 35px;
}

.slider_info .slide_details .go_to_details a{
	font-weight: bold;
}

.slider_info .slide_details article {
	padding: 20px 25px 20px 30px;
	color: white;
	font-size: 14px;
}

.slider_info .slide_details article h2{
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.slider_info .slide_details article p {
	padding: 0;
	margin: 0;
}

.content_wrapper{
	padding-top: 173px;
	background: url(../img/content_bg.png) no-repeat bottom right;
}

.content.wide, .content.faq {
	width: 1000px;
	margin: 0 auto 0 auto;
}

.content_wrapper2 {
	width: 1000px;
	margin: 0 auto 0 auto;
}

.content {
	position: relative;
	font-family: "Arial", Helvetica, sans-serif;
	margin-left: 313px;
	width: 687px;
	z-index: 400;
}

.content.wide article {
	padding-top: 16px;
}

.content.wide article h1{
	font-size: 18px;
	padding: 16px 0 16px 0;
	margin: 0;
}

.content.wide article p {
	font-size: 12px;
	line-height: 26px;
	padding: 16px 0 16px 0;
	margin: 0;
}

.content.listing, .content.property_details {
	padding-left: 35px;
	width: 652px;
}

.content.listing h1, .content.property_details h1{
	padding: 20px 0;
	margin: 0;
	font-weight: normal;
	font-size: 24px;
}

.content.listing .view_mode {
	float: left;
}

.content.listing .view_mode{
	text-decoration: none;
}

.content.listing .view_mode a{
	color: transparent;
	font-size: 0;
	line-height: 0;
}

.content.listing .view_mode span{
	cursor: pointer;
	display: block;
	float: left;
	width: 17px;
	height: 17px;
	margin: 0 5px;
}

.content.listing .view_mode span.list {
	background: url(../img/list_mode_selected.png) no-repeat center center;
}

.content.listing .view_mode span.list.selected {
	background: url(../img/list_mode.png) no-repeat center center;
}

.content.listing .view_mode span.signs {
	background: url(../img/sign_mode_selected.png) no-repeat center center;
}

.content.listing .view_mode span.signs.selected {
	background: url(../img/sign_mode.png) no-repeat center center;
}

.content.listing .ordering {
	font-size: 14px;
	text-shadow: 0 1px #fff;
	color: #3e3e3e;
	float: right;
}

.content.listing .ordering a{
	color: #3e3e3e;
	text-shadow: 0 1px #fff;
	margin-left: 15px;
	padding-right: 12px;
	background: url(../img/order_arrow.png) no-repeat right 8px;
}

.content.listing .toolbar {
	margin-bottom: 20px;
}

.item_wrapper {
	position: relative;
	background: white;
	padding: 10px;
}

.item_wrapper article {
	color: #3e3e3e;
}

.list_type .item_wrapper {
	width: 640px;
	min-height: 170px;
}

.sign_type .item_wrapper {
	float: left;
	width: 300px;
	height: 365px;
}

.listing_container.sign_type {
	width: 676px;
}

.item_photo {
	height: 170px;
	width: 300px;
}

.item_photo img{
	border: none;
	padding: none;
	margin: none;
}

.item_photo a{
	border: none;
	padding: none;
	margin: none;
	outline: none;
}

.list_type .item_photo {
	float: left;
	margin-right: 20px;
}

.sign_type .item_photo {
	margin: 0;
	padding: 0;
}

.list_type .item_details {
	padding-left: 320px;
	padding-right: 15px;
}

.item_details h2 {
	margin: 0;
	padding: 0 0 15px 0;
	font-size: 18px;
}

.sign_type .item_details {
	margin-top: 15px;
}

.sign_type .item_details h2 {
	padding: 0 0 15px 0;
}

.item_details h2 a{
	color: #3e3e3e;
}

.item_details p {
	margin: 0;
	padding: 5px 0;
	font-size: 12px;
}

.item_wrapper.in_notebook .item_details {
	background: url(../img/in_notebook.png) no-repeat right top;
}

.item_controls {
}

.item_controls ul {
	list-style: none outside none;
	display: table;
	margin: 0;
	padding: 0;
}

.item_controls li {
	float: left;
}

.list_type .item_controls li {
	margin-right: 30px;
}

.sign_type .item_controls {
	padding-top: 10px;
}

.sign_type .item_controls li {
	margin-right: 15px;
}

.list_type .item_controls li:last-child, .list_type .item_controls li.last-child,
.sign_type .item_controls li:last-child, .sign_type .item_controls li.last-child {
	margin-right: 0;
}

.item_controls a {
	font-size: 10px;
	color: #3e3e3e;
	font-weight: bold;
}

.listing_container article {
	position: relative;
}

.listing_container.list_type article{
	padding-bottom: 10px;
	margin-bottom: 15px;
	background: transparent url(../img/listing_list_shadow.png) no-repeat center bottom;
}

.listing_container.sign_type article{
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-right: 12px;
	background: transparent url(../img/listing_sign_shadow.png) no-repeat center bottom;
}

.item_label {
	width: 127px;
	height: 128px;
	cursor: pointer;
	pointer-events: none;
	position: absolute;
	margin: -17px 0 0 -17px;
}

.item_label.new {
	background: transparent url(../img/label_new.png) no-repeat top left;
}

.listing_paginator {
	text-align: center;
}

.listing_paginator span {
	font-size: 14px;
	padding: 7px;
	color: #383838;
}

.listing_paginator{
	padding: 20px 0;
}

.listing_paginator span.current {
	background: transparent url(../img/current_page.png) no-repeat center center;
	color: #ececec;
}

.listing_paginator a {
	color: #383838;
	text-decoration: underline;
}

.listing_paginator a.arrow {
	text-decoration: none;
}

article.about_us img {
	border: white solid 7px;
}

.property_details .controls {
	padding: 5px 0 5px 0;
}

.property_details .controls a {
	margin-right: 32px;
	font-weight: bold;
}

.property_details article .photo {
	float: left;
	width: 430px;
	margin-right: 18px;
	position: relative;
}

.property_details article .photo  a {
	border: none;
	outline: none;
	margin: 0; padding: 0;
}

.property_details article .photo img {
	background-color: white;
	padding: 10px;
	width: 410px;
	position: relative;
}

.property_details article .image_container {
	position: relative;
}

.property_details article .image_container .loupe {
	position: absolute;
	pointer-events: none;
	cursor: pointer;
	margin: 10px;
	width: 410px;
	height: 254px;
	z-index: 600;
}

.property_details article .image_container .loupe:hover,
.property_details article .image_container:hover .loupe {
	background: transparent url(../img/slideshow.png) no-repeat center center;
}

.property_details article .photo_controls {
	text-align: center;
	padding: 18px 140px 12px 140px;
	padding-bottom: 12px;
}

.property_details article .photo_controls span.rarr,
.property_details article .photo_controls span.larr{
	display: block;
	width: 32px; height: 32px;
}

.property_details article .photo_controls span.rarr a,
.property_details article .photo_controls span.larr a {
		width: 32px; height: 32px;
		display: block;
		color: transparent;
		font-size: 0;
		line-height: 0;
}

.property_details article .photo_controls span.rarr {
	float: right;
	background: transparent url(../img/slide_photo_r.png) no-repeat center center;
}

.property_details article .photo_controls span.larr {
	float: left;
	background: transparent url(../img/slide_photo_l.png) no-repeat center center;
}

.property_details article .photo_controls span.photo_page {
	font-size: 18px;
	line-height: 32px;
}

.property_details article .info {
	padding-left: 440px;
}

.property_details article .info p{
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.property_details article .description {
	font-size: 14px;
} 

.property_details .controls {
	padding: 25px 0;
}

.property_details .featured  h2{
	padding: 0 0 20px 0;
	margin: 0;
	font-size: 18px;
}

.listing_container.featured {
	width: 672px;
	padding-bottom: 15px;
}

.listing_container.featured  article{
	float: left;
    margin-bottom: 10px;
    margin-right: 14px;
    padding-bottom: 10px;
	background: transparent url(../img/listing_featured_shadow.png) no-repeat center bottom;
}

.listing_container.featured .item_wrapper {
	width: 190px;
	padding: 10px;
}

.listing_container.featured .item_photo {
	width: 190px;
	height: 107px;
}

.listing_container.featured h2 {
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 0;
}

.listing_container.featured p {
	padding: 0;
	margin; 0;
	font-size: 10px;
}

.listing_container.featured p.property_id {
	padding-bottom: 10px;
}

.listing_container.featured p.phone {
	padding-bottom: 10px;
	padding-top: 10px;
}

.listing_container.featured .item_controls li {
	margin-right: 18px;
}

.listing_container.featured .item_controls li:last-child,
.listing_container.featured .item_controls li.last-child{
	margin-right: 0;
}


.msg404 {
	padding-top: 115px;
	text-align: center;
	background: url(../img/oops404.png) no-repeat center 75px;
}

.msg404 p {
	text-align: center;
	padding: 0;
	margin: 20px auto;
	width: 360px;	
}

.page_title {
	height: 85px;
	text-align: center;
}

.page_title h1 {
	font-size: 24px;
	margin: 0;
	padding: 20px 0 0 0;
	
}

aside.faq_navigation {
	width: 320px;
	margin-right: 20px;
	/*margin-top: 85px;*/
	float: left;
}

aside.faq_navigation ul.top {
	list-style: none outside none;
	padding: 0; margin: 0;
}

aside.faq_navigation ul.top li {
	padding: 6px 0 10px 30px;
}

li.key_sign {
	background: url(../img/faq/key.png) no-repeat 5px 7px;
}

li.key_sign.current {
	background: #3e3e3e url(../img/faq/key_active.png) no-repeat 5px 7px;
}

li.dollar_sign {
	background: url(../img/faq/dollar.png) no-repeat 5px 7px;
}

li.dollar_sign.current {
	background: #3e3e3e url(../img/faq/dollar_active.png) no-repeat 5px 7px;
}

li.load_sign {
	background: url(../img/faq/load.png) no-repeat 5px 7px;
}

li.load_sign.current {
	background: #3e3e3e url(../img/faq/load_active.png) no-repeat 5px 7px;
}

li.vip_sign {
	background: url(../img/faq/vip.png) no-repeat 5px 7px;
}

li.vip_sign.current {
	background: #3e3e3e url(../img/faq/vip_active.png) no-repeat 5px 7px;
}

li.info_sign {
	background: url(../img/faq/info.png) no-repeat 5px 7px;
}

li.info_sign.current {
	background: #3e3e3e url(../img/faq/info_active.png) no-repeat 5px 7px;
}

aside.faq_navigation a {
	font-size: 12px;
	color: #3e3e3e;
}

aside.faq_navigation li.current a {
	color: #dfdfdf;
}


aside.faq_navigation ul.sub{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

aside.faq_navigation ul.sub li {
	padding: 12px 0 0px 30px;
	background: url(../img/li_circle.png) no-repeat  18px 22px;
}

article.faq {
	padding: 0 0 0 340px;
}

article.faq h2 {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 18px;
}

article.faq p {
	margin: 0;
	padding: 10px 0;
	font-size: 14px;
}

article.faq ul {
	list-style: none outside none;
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
}

article.faq ul li {
	padding: 0 0 0px 16px;
	background: url(../img/li_circle.png) no-repeat 5px 6px;
}

article.faq a {
	color: black;
	text-decoration: none;
}

#inquery_form {
	width: 220px;
	padding: 0 30px 0 30px;
	height: 631px;
	background: url(../img/inquery_bg.png) no-repeat top left;
	font-family: "Arial", Helvetica, sans-serif;
}

#request_form{
	width: 580px;
	height: 710px;
	padding: 0 30px 0 30px;
	background: url(../img/request_form.png) no-repeat top left;
	font-family: "Arial", Helvetica, sans-serif;
}

#request_form .leftpanel {
	width: 230px;
	float: left;
}

#request_form .rightpanel {
	padding-left: 270px;
	padding-top: 12px;
}

#request_form .river_side {
	padding: 12px 0;
}

#request_form  input[name="comment"]{
	width: 220px;
	height: 175px;
}

#request_form .submit_form{
	padding-top: 12px;
}

#request_form .rooms_count {
	padding-bottom: 0;
}

#request_form .area input[type="checkbox"] + label {
	font-weight: normal;
	
}

.popup_form h2 {
	font-size: 18px;
	text-align: center;
	padding: 12px 0 0 0;
	margin: 0;
}

.popup_form h3 {
	padding: 15px 0 0 0;
	margin: 0;
	font-size: 14px;
}

.popup_form h3 span.error {
	padding-right: 16px;
	background: url(../img/error.png) no-repeat center right;
}

.popup_form input[type="text"] {
	width: 220px;
	font-size: 10px;
}

.popup_form input[type="checkbox"] + label{
	font-size: 14px;
	font-weight: bold;
}
.popup_form input[name="comment"]{
	width: 220px;
	height: 67px;
}

.popup_form p.disclaimber {
	font-size: 10px;
	padding: 0;
	margin: 0;
	padding: 12px 0;
}

.popup_form ul {
	list-style: none outside none;
	margin: 0;
	padding: 0
}

.popup_form ul  input[type="radio"] + label span{
	padding-left: 6px;
	width: 204px;
}

.popup_form .submit_form{
	padding: 0;
	text-align: center;
}

.popup_form .submit_form a{
	font-weight: bold;
}

/*************************************************
/* End of Main content styles                       
/************************************************/



/*************************************************
/* Footer styles                       
/************************************************/

.footer_wrapper {
	position: relative;
	background: #313131 url(../img/footer_bg.png) repeat-x top left;
	z-index: 500;
}

.footer_wrapper2{
	background: transparent url(../img/footer_bg2.png) repeat;
}

.footer_wrapper.main_page{
	min-height: 350px;
}

footer {
	margin: 0 auto 0 auto ;
	width: 1000px;
	font-family: "Arial", Helvetica, sans-serif;
	color: white;
}

.footer_links {
	float: left;
	padding-top: 50px;
	width: 280px;
}

.footer_links.short{
	padding-right: 67px;
	width: 145px;
}

.footer_links.medium{
	width: 212px;
	padding-right: 67px;
}

.footer_links a{
	color: white;
	text-decoration: none;
	font-size: 10px;
}

.footer_links h2 {
	padding: 0 0 20px 0;
	margin: 0;
	font-size: 12px;
	font-weight: bold
}

.footer_links ul {
	list-style: none outside none;
	display: table;
	margin: 0;
	padding: 0;
}

.footer_links ul li{
	margin-bottom: 10px;
	line-height: 12px;
}

.footer_links ul.big_links a {
	font-size: 12px;
	font-weight: bold;
}

footer .copyright {
	color: #828282;
	font-size: 12px;
	font-weight: bold;
	padding: 17px 0 20px 0;
}

.main_page footer .copyright{
	padding: 17px 0 20px 0;
}

/*************************************************
/* End of Footer styles                       
/************************************************/

